node_modules/
.nyc_output/*
.env
start-local-server
test-local-server
coverage
start-my-infra
.DS_STORE
wallet*

package-lock.json
# yarn-lock.json

# production
/dist
index.js
index.js.map
lib/**/*.js
lib/**/*.js.map
